.center {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  top: 20px;
  font-size: 3em;
  font-family: 'Georgia', cursive;
  color: black;
  text-align: center;
}

h3 {
  text-align: center;
}

tr {
  background-color: white;
}

.image-p {
  float: center;
  width: 300px;
  padding: 5px;
  background-color: white;
  margin: 10px 0 10px 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

u1,li {
  text-align: center;
  color: black;
}

p {
  text-align: center;
}

div {
  top: 10px;
  font-size: 1em;
  font-family: 'Georgia', cursive;
  color: black;
  text-align: center;
  background: blue;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}
